# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Type Checking
# -----------------------------
.mypy_cache/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Environment
# -----------------------------
.env

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak